/* body {
    background-color: #141c3c;
  } */

.schedule-time{
  display:flex;
  flex-direction: column;
  width:25%;
  height:10vh;
  box-sizing: border-box;
  z-index: 50;
 
}
.schedule-table{
  display:flex;
  flex-direction:column;

}