/* body {
    background-color: #141c3c;
  } */

.schedule-time{
  display:flex;
  flex-direction: column;
  width: 200px;
  height:10vh;
  box-sizing: border-box;
  z-index: 50;
  line-height: 5vh;
  flex-wrap: wrap;
}
.session-box{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position:relative;
  flex-wrap: wrap;
}
.empty-box{
  background-image: white;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  position:relative;
  flex-wrap: wrap;
}
.schedule-table{
  display:flex;
  flex-direction:column;

}
/* .box>* {
  flex: 1 1 70px;
} */