body {
    background-color: #141c3c;
  }

.schedule-time{
  display:flex;
  flex-direction: column;
  width: 300px;
  height:14vh;
  box-sizing: border-box;
  z-index: 50;
  line-height: 5vh;
  flex-wrap: wrap;
  /* justify-content: left; */
  border-radius: 7px;
}
.half-hour{
  display:flex;
  flex-direction: column;
  width: 300px;
  height:10vh;
  box-sizing: border-box;
  line-height: 4vh;
  flex-wrap: wrap;
  justify-content: left;
  border-radius: 7px;
}
.session-box{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #95cde7 100%);
  /* background-color:#a1c4fd; */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position:relative;
  flex-wrap: wrap;
  padding-left: 15px;
  font-size: 21px !important;
  justify-content: left;
  border-radius: 7px;
}
.extra-time{
  /* background-image: linear-gradient(180deg, #c2e9fb 100%, #a1c4fd 100%); */
  background-color:#a1c4fd;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  position:relative;
  flex-wrap: wrap;
  border:0;
}
.empty-box{
  background-image: white;
  position:relative;
  flex-wrap: wrap;
}
.schedule-table{
  display:flex;
  flex-direction:column;

}
/* .box>* {
  flex: 1 1 70px;
} */
.title{
  font-size: 3em;
}
.up {
  position: relative;
  top: 0;       
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
        }

.up:hover {
  top: -1px;
  transform : scale(1.05);
  -moz-transform : scale(1.05);
  -webkit-transform : scale(1.05);
  -o-transform : scale(1.05);
  -ms-transform : scale(1.05);
 border: solid 3px #f8f7f7;
}