/* body {
    background-color: #141c3c;
  } */

.schedule-time{
  display:flex;
  flex-direction: column;
  width:10vw;
  height:10vh;
  box-sizing: border-box;
}
.schedule-table{
  display:flex;
  flex-direction:column;

}