/* body {
    background-color: #141c3c;
  } */

.schedule-time{
  display:flex;
  flex-direction: column;
  width:20vw;
  height:7vh;
  box-sizing: border-box;
  z-index: 50;
  line-height: 5vh;
 
}
.schedule-table{
  display:flex;
  flex-direction:column;

}