html{
  scroll-behavior: smooth;
}
li a, #interestedInSponsor a{
    font-size: 20px;
     color: #fff;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
  }
  li a:after, #interestedInSponsor a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: lightskyblue;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    
  }
  li a:hover:after, #interestedInSponsor a:hover:after  { 
    width: 100%; 
    left: 0; 
  
  }

  #yuHacks {
      font-size: 5em;

  }
  .winter-neva-gradient {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .winter-neva-gradient:hover{
    box-shadow: 0 10px 20px -8px lightblue;
  }
  
  .social-media:hover{
    transform: translateY(-5px);
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    filter:brightness(180%);
  }
  .up {
    position: relative;
    top: 0;       
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
          }
  
  .up:hover {
    top: -1px;
    transform : scale(1.05);
    -moz-transform : scale(1.05);
    -webkit-transform : scale(1.05);
    -o-transform : scale(1.05);
    -ms-transform : scale(1.05);
              
          }
  .title{
    font-size: 4em;
  }
  .bg-psu {
    background-color: #141c3c;

  }
  nav {
    border: 0;
    filter: blur(0.25px);
  }
 
  /* .snow, .snow:before, .snow:after {
    position: absolute;
    top: -800px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(4px 4px at 46px 37px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 423px 164px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 540px 85px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 134px 437px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 5px 560px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 555px 394px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 589px 215px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 490px 23px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 349px 521px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 25px 363px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 269px 376px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 553px 467px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 283px 429px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 287px 432px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 49px 570px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 526px 228px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 277px 578px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 359px 336px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 435px 134px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 361px 417px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 440px 181px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 50px 28px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 47px 393px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 172px 237px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 568px 322px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 74px 272px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 592px 121px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 429px 428px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 191px 166px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 179px 399px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 183px 339px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 571px 527px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 230px 329px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 549px 587px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 142px 211px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 557px 208px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 142px 457px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 43px 148px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 475px 452px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 281px 415px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 581px 30px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 33px 224px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 469px 377px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 379px 532px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 16px 180px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 531px 532px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 18px 304px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 589px 391px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 561px 112px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 501px 330px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 209px 127px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 591px 586px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 572px 109px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 116px 120px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 343px 427px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 343px 490px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 7px 463px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 161px 356px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 128px 590px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 490px 305px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 6px 21px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 37px 32px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 376px 141px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 236px 496px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 99px 271px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 575px 382px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 300px 346px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 580px 95px, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 340px 409px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 581px 265px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 600px 285px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0));
    background-size: 800px 800px;
    animation: snow 5s linear infinite;
    content: "";
 }
  .snow:after {
    margin-left: -200px;
    opacity: 0.4;
    animation-duration: 6s;
    animation-direction: reverse;
    filter: blur(3px);
 }
  .snow:before {
    animation-duration: 9s;
    animation-direction: reverse;
    margin-left: -300px;
    opacity: 0.65;
    filter: blur(1.5px);
 } */
  @keyframes snow {
    to {
      transform: translateY(800px);
   }
 }

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: pr;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before, .slider::after {
  /* background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%); */
  background-color: #141c3c;
    
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
 
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
          animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 350px;
}

.sponsorImg:hover{
  opacity: 0.8;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}

.changeDateSize {
  font-size: 2em;
}

.sponsor-section {
  padding:20px;
  border-radius: 25px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  
}
.faq-section {
  /* rgba(43, 142, 172, 0.7); */
  background-color: hsla(0,0%,45%,.70);
  padding:15px;
  border-radius: 25px;
  
}
.faq-answer {
  filter:brightness(180%);
}
/* .alpha-sponsor img {
  max-width: 100%;
  height: auto;
  width: auto;
} */
.rotate{
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.rotate.down{
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}


  
/* .wrapper {
  width: 100vw;
  height: 100vh;
} */
.snow {
  border-radius: 90%;
  opacity: 0.8;
  position: absolute;
  top: -100vh;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.layer1 {
  width: 1rem;
  height: 1rem;
  filter: blur(1.5px);
  box-shadow: 98.5vw 89.9vh 0 -0.43rem#fff,56.9vw 15.5vh 0 -0.46rem#fff,49.5vw 96.2vh 0 -0.09rem#fff,11.7vw 80.5vh 0 -0.28rem#fff,10.1vw 4.9vh 0 -0.32rem#fff,29.7vw 49.2vh 0 -0.14rem#fff,13.8vw 11.5vh 0 -0.27rem#fff,0.6vw 15.6vh 0 -0.24rem#fff,7vw 35.7vh 0 -0.14rem#fff,56.6vw 28vh 0 -0.4rem#fff,61.3vw 35.2vh 0 -0.5rem#fff,9vw 77.4vh 0 -0.03rem#fff,90.5vw 84.1vh 0 -0.43rem#fff,23.5vw 38.4vh 0 -0.21rem#fff,45.1vw 50.1vh 0 -0.08rem#fff,88.8vw 69.6vh 0 -0.37rem#fff,20.1vw 15.4vh 0 -0.06rem#fff,0.4vw 48.5vh 0 -0.35rem#fff,82.8vw 42.2vh 0 -0.31rem#fff,62vw 75.4vh 0 -0.04rem#fff,16.4vw 32.1vh 0 -0.08rem#fff,64vw 76.3vh 0 -0.21rem#fff,36.7vw 71vh 0 -0.17rem#fff,93.2vw 43.3vh 0 -0.43rem#fff,2.4vw 79.4vh 0 -0.04rem#fff,7.6vw 90.3vh 0 -0.29rem#fff,86.2vw 65.1vh 0 -0.14rem#fff,98.7vw 63.7vh 0 -0.22rem#fff,72.4vw 44.8vh 0 -0.26rem#fff,69.8vw 67vh 0 -0.21rem#fff,98.9vw 91.9vh 0 -0.32rem#fff,84.1vw 12.9vh 0 -0.21rem#fff,5.4vw 10.5vh 0 -0.17rem#fff,85.1vw 22.8vh 0 -0.09rem#fff,69.3vw 30.8vh 0 -0.18rem#fff,90.9vw 74.1vh 0 -0.17rem#fff,39.7vw 68.8vh 0 -0.09rem#fff,6.5vw 75.2vh 0 -0.19rem#fff,42.1vw 94.2vh 0 -0.32rem#fff,47.2vw 7.5vh 0 -0.35rem#fff,11.6vw 8vh 0 -0.45rem#fff,40.3vw 10.2vh 0 -0.31rem#fff,98.8vw 77.3vh 0 -0.15rem#fff,69.9vw 29.1vh 0 -0.27rem#fff,85.6vw 32.6vh 0 -0.06rem#fff,26.2vw 35.9vh 0 -0.43rem#fff,86.5vw 89.9vh 0 -0.3rem#fff,36.4vw 55.4vh 0 -0.42rem#fff,49.3vw 67.5vh 0 -0.27rem#fff,32vw 45.3vh 0 -0.46rem#fff,61vw 92.9vh 0 -0.47rem#fff,28.8vw 87.1vh 0 -0.21rem#fff,61.2vw 40.3vh 0 -0.26rem#fff,43.4vw 37.2vh 0 -0.26rem#fff,28.3vw 96.8vh 0 -0.32rem#fff,87.8vw 89.9vh 0 -0.15rem#fff,80.4vw 22.2vh 0 -0.5rem#fff,40.7vw 70.2vh 0 -0.25rem#fff,12.3vw 86.6vh 0 -0.03rem#fff,78.3vw 14.8vh 0 -0.4rem#fff,21.1vw 73.2vh 0 -0.49rem#fff,82vw 18.4vh 0 -0.36rem#fff,11.3vw 72.5vh 0 -0.27rem#fff,44.6vw 86vh 0 -0.31rem#fff,50.8vw 47.5vh 0 -0.17rem#fff,48.2vw 63.9vh 0 -0.02rem#fff,91.4vw 33.4vh 0 -0.19rem#fff,31.3vw 14.8vh 0 -0.26rem#fff,64.6vw 18.1vh 0 -0.48rem#fff,27.5vw 57.3vh 0 -0.41rem#fff,32vw 31.9vh 0 -0.44rem#fff,42.4vw 60.7vh 0 -0.16rem#fff,19.3vw 53.3vh 0 -0.03rem#fff,60.6vw 52.1vh 0 -0.02rem#fff,18.1vw 62.4vh 0 -0.41rem#fff,23.4vw 3.6vh 0 -0.39rem#fff,58.2vw 90.9vh 0 -0.31rem#fff,6vw 17.7vh 0 -0.08rem#fff,26.2vw 55.1vh 0 -0.23rem#fff,59.3vw 38.8vh 0 -0.29rem#fff,9.3vw 93.3vh 0 -0.37rem#fff,97.5vw 23.3vh 0 -0.37rem#fff,21.2vw 99.1vh 0 -0.38rem#fff,35.8vw 5.4vh 0 -0.22rem#fff,96.6vw 61.4vh 0 -0.04rem#fff,49.4vw 26.9vh 0 -0.41rem#fff,98.6vw 93.4vh 0 -0.35rem#fff,64.4vw 95.6vh 0 -0.12rem#fff,4.7vw 29.2vh 0 -0.12rem#fff,40vw 4.3vh 0 -0.04rem#fff,34.6vw 12.9vh 0 -0.47rem#fff,51.7vw 50.9vh 0 -0.01rem#fff,37.1vw 63.2vh 0 -0.17rem#fff,61.8vw 78.1vh 0 -0.14rem#fff,43.4vw 28.4vh 0 -0.22rem#fff,3.1vw 24vh 0 -0.4rem#fff,3.6vw 65vh 0 -0.35rem#fff,23.2vw 26.1vh 0 -0.44rem#fff,33.7vw 80.3vh 0 -0.19rem#fff,16.2vw 51.2vh 0 -0.47rem#fff,69.4vw 78.9vh 0 -0.11rem#fff,17.8vw 5.8vh 0 -0.26rem#fff,30.2vw 67.5vh 0 -0.49rem#fff,19.3vw 84.1vh 0 -0.49rem#fff,55vw 97vh 0 -0.38rem#fff,1.6vw 34.9vh 0 -0.37rem#fff,87.6vw 94.1vh 0 -0.43rem#fff,27.9vw 9.2vh 0 -0.24rem#fff,53.6vw 83.8vh 0 -0.27rem#fff,69.5vw 32vh 0 -0.17rem#fff,45.2vw 18.6vh 0 -0.32rem#fff,32.6vw 44.9vh 0 -0.27rem#fff,48.5vw 90vh 0 -0.13rem#fff,68.3vw 98.2vh 0 -0.41rem#fff,24.9vw 20.9vh 0 -0.48rem#fff,3.7vw 50.6vh 0 -0.47rem#fff,49.8vw 62.9vh 0 -0.25rem#fff,3.2vw 91.8vh 0 -0.34rem#fff,7.4vw 91.3vh 0 -0.47rem#fff,58.5vw 34.1vh 0 -0.06rem#fff,56.2vw 18.7vh 0 -0.29rem#fff,72vw 80.2vh 0 -0.04rem#fff,16.9vw 94.9vh 0 -0.25rem#fff,40.1vw 15.6vh 0 -0.48rem#fff,4.9vw 14.5vh 0 -0.31rem#fff,8vw 5.2vh 0 -0.1rem#fff,39.1vw 91.2vh 0 -0.3rem#fff,10.1vw 30vh 0 -0.41rem#fff,43.4vw 80.8vh 0 -0.29rem#fff,68.2vw 45.4vh 0 -0.01rem#fff,87.2vw 5vh 0 -0.5rem#fff,34.9vw 66.4vh 0 -0.19rem#fff,67.7vw 87.9vh 0 -0.27rem#fff,63.1vw 26.8vh 0 -0.11rem#fff,51.6vw 84.3vh 0 -0.24rem#fff,65.8vw 44.8vh 0 -0.14rem#fff,57.7vw 94.4vh 0 -0.05rem#fff,38.6vw 82.4vh 0 -0.11rem#fff,90.4vw 67vh 0 -0.22rem#fff,29.4vw 48.5vh 0 -0.11rem#fff,24.7vw 25.1vh 0 -0.05rem#fff,66.2vw 72.8vh 0 -0.18rem#fff,83vw 40vh 0 -0.3rem#fff,72.9vw 38.2vh 0 -0.45rem#fff,76.1vw 81.4vh 0 -0.03rem#fff,15.5vw 78.6vh 0 -0.14rem#fff,20.6vw 28.6vh 0 -0.15rem#fff,58.1vw 97vh 0 -0.24rem#fff,50.5vw 1.3vh 0 -0.26rem#fff,86.3vw 92vh 0 -0.39rem#fff,1.5vw 70.8vh 0 -0.44rem#fff,39vw 20.9vh 0 -0.03rem#fff,41.3vw 96vh 0 -0.19rem#fff,56.2vw 75.8vh 0 -0.45rem#fff,83.3vw 54.7vh 0 -0.03rem#fff,82.6vw 16.4vh 0 -0.36rem#fff,86.5vw 32vh 0 -0.17rem#fff,53.1vw 57.7vh 0 -0.12rem#fff,61.8vw 45vh 0 -0.23rem#fff,90vw 16.7vh 0 -0.04rem#fff,17.2vw 1.3vh 0 -0.34rem#fff,97.6vw 12.4vh 0 -0.34rem#fff,43.8vw 24.1vh 0 -0.3rem#fff,49.7vw 71.8vh 0 -0.44rem#fff,20.1vw 0.8vh 0 -0.39rem#fff,16.9vw 24.7vh 0 -0.39rem#fff,20.1vw 61.6vh 0 -0.4rem#fff,92.1vw 28.3vh 0 -0.13rem#fff,74.3vw 47.4vh 0 -0.16rem#fff,13.7vw 27.4vh 0 -0.04rem#fff,65.2vw 96.9vh 0 -0.23rem#fff,38.1vw 29.1vh 0 -0.5rem#fff,12.3vw 97vh 0 -0.35rem#fff,84.2vw 67.4vh 0 -0.35rem#fff,48.9vw 31.9vh 0 -0.4rem#fff,93.4vw 21.7vh 0 -0.14rem#fff,46.1vw 20.7vh 0 -0.34rem#fff,53.9vw 60.1vh 0 -0.36rem#fff,48.3vw 84.4vh 0 -0.18rem#fff,93vw 11.1vh 0 -0.06rem#fff,10.8vw 66.9vh 0 -0.33rem#fff,98.4vw 28.9vh 0 -0.23rem#fff,30.2vw 66.5vh 0 -0.25rem#fff,72.6vw 55.3vh 0 -0.44rem#fff,65.8vw 92.7vh 0 -0.04rem#fff,97.3vw 9.1vh 0 -0.31rem#fff,79.2vw 52.5vh 0 -0.16rem#fff,52.2vw 38.9vh 0 -0.12rem#fff,46.1vw 79.2vh 0 -0.01rem#fff,59vw 62vh 0 -0.01rem#fff,77.3vw 6.4vh 0 -0.5rem#fff,78.1vw 2.2vh 0 -0.32rem#fff,21.4vw 33vh 0 -0.18rem#fff,1.4vw 75.5vh 0 -0.04rem#fff,35.5vw 62.9vh 0 -0.27rem#fff,18.9vw 17.6vh 0 -0.14rem#fff,0.6vw 99.3vh 0 -0.4rem#fff,76vw 67.7vh 0 -0.44rem#fff,3vw 70vh 0 -0.03rem#fff,52.2vw 40.4vh 0 -0.01rem#fff;
  animation-duration: 15s;
}
.layer1.a {
  animation-delay: -3s;
}
.layer2 {
  width: 1rem;
  height: 1rem;
  filter: blur(3px);
  box-shadow: 90.2vw 70vh 0 -0.47rem#fff,93.5vw 7.6vh 0 -0.44rem#fff,3.4vw 5.6vh 0 -0.12rem#fff,1vw 44.4vh 0 -0.08rem#fff,59.4vw 10.1vh 0 -0.14rem#fff,97.3vw 34.4vh 0 -0.17rem#fff,24.8vw 97.7vh 0 -0.34rem#fff,87.1vw 4vh 0 -0.38rem#fff,91.2vw 82.4vh 0 -0.34rem#fff,75.6vw 27.1vh 0 -0.04rem#fff,35vw 3.2vh 0 -0.25rem#fff,57.2vw 77.4vh 0 -0.22rem#fff,30.6vw 70vh 0 -0.45rem#fff,88.3vw 54.9vh 0 -0.38rem#fff,36.1vw 68.9vh 0 -0.09rem#fff,12.9vw 70vh 0 -0.05rem#fff,26vw 23.8vh 0 -0.2rem#fff,43.5vw 54.1vh 0 -0.38rem#fff,62.5vw 46vh 0 -0.03rem#fff,62.8vw 81.8vh 0 -0.29rem#fff,79.4vw 23.1vh 0 -0.38rem#fff,7.7vw 13.5vh 0 -0.37rem#fff,46.7vw 37.6vh 0 -0.36rem#fff,42.2vw 75.7vh 0 -0.06rem#fff,4.5vw 60.7vh 0 -0.06rem#fff,54.9vw 97.2vh 0 -0.36rem#fff,70.1vw 66vh 0 -0.4rem#fff,54.4vw 85.9vh 0 -0.37rem#fff,0.5vw 26.4vh 0 -0.37rem#fff,81.6vw 27.9vh 0 -0.49rem#fff,40.5vw 33.3vh 0 -0.18rem#fff,80.7vw 93.4vh 0 -0.34rem#fff,20.3vw 20.2vh 0 -0.37rem#fff,68.9vw 32.6vh 0 -0.42rem#fff,76.2vw 46.6vh 0 -0.1rem#fff,80vw 72.4vh 0 -0.36rem#fff,86.9vw 6.8vh 0 -0.37rem#fff,94.9vw 79.7vh 0 -0.45rem#fff,66.1vw 70.6vh 0 -0.07rem#fff,8.4vw 96.4vh 0 -0.47rem#fff,64.3vw 78.1vh 0 -0.47rem#fff,56.2vw 87.4vh 0 -0.12rem#fff,25.7vw 68.1vh 0 -0.01rem#fff,64vw 32.4vh 0 -0.15rem#fff,95.8vw 44.1vh 0 -0.09rem#fff,68.8vw 80.4vh 0 -0.48rem#fff,74.4vw 18.2vh 0 -0.01rem#fff,85vw 70.7vh 0 -0.23rem#fff,19.7vw 98.5vh 0 -0.36rem#fff,97.1vw 33.5vh 0 -0.31rem#fff,16vw 4.2vh 0 -0.02rem#fff,61.9vw 76vh 0 -0.44rem#fff,62.4vw 73.1vh 0 -0.4rem#fff,72.9vw 3.3vh 0 -0.43rem#fff,50vw 60vh 0 -0.14rem#fff,77.7vw 50.3vh 0 -0.31rem#fff,14.8vw 85vh 0 -0.04rem#fff,29.5vw 31.7vh 0 -0.2rem#fff,21.5vw 2.2vh 0 -0.06rem#fff,19.6vw 45.2vh 0 -0.24rem#fff,72.3vw 73.7vh 0 -0.49rem#fff,9.6vw 53.3vh 0 -0.24rem#fff,84.8vw 75.3vh 0 -0.3rem#fff,9.1vw 33.4vh 0 -0.17rem#fff,68.5vw 84.5vh 0 -0.09rem#fff,93.9vw 69.3vh 0 -0.06rem#fff,28vw 11.9vh 0 -0.39rem#fff,96.9vw 57.4vh 0 -0.15rem#fff,97.4vw 75.4vh 0 -0.35rem#fff,5.6vw 67.7vh 0 -0.21rem#fff,16.8vw 2.7vh 0 -0.46rem#fff,61.1vw 29.1vh 0 -0.41rem#fff,21.5vw 87.7vh 0 -0.28rem#fff,41.1vw 57.2vh 0 -0.17rem#fff,96.6vw 55.4vh 0 -0.01rem#fff,35.2vw 85.6vh 0 -0.06rem#fff,37.9vw 6.7vh 0 -0.37rem#fff,15.3vw 70.9vh 0 -0.19rem#fff,98.4vw 85.6vh 0 -0.09rem#fff,46.2vw 74.1vh 0 -0.49rem#fff,74.2vw 35.8vh 0 -0.49rem#fff,23.5vw 68.6vh 0 -0.2rem#fff,46.7vw 23.5vh 0 -0.14rem#fff,41.2vw 14.6vh 0 -0.49rem#fff,63vw 65.7vh 0 -0.32rem#fff,6.6vw 88vh 0 -0.14rem#fff,11.4vw 36.9vh 0 -0.19rem#fff,74vw 24.5vh 0 -0.23rem#fff,40.2vw 62.4vh 0 -0.37rem#fff,45vw 52.6vh 0 -0.09rem#fff,75.4vw 3.7vh 0 -0.46rem#fff,67vw 37.7vh 0 -0.15rem#fff,55.5vw 63.4vh 0 -0.07rem#fff,34.3vw 20.2vh 0 -0.16rem#fff,78.2vw 42.5vh 0 -0.45rem#fff,9.9vw 38.1vh 0 -0.22rem#fff,59.6vw 4.9vh 0 -0.47rem#fff,46.7vw 72.8vh 0 -0.24rem#fff,21.6vw 1.2vh 0 -0.42rem#fff,6.1vw 48.5vh 0 -0.32rem#fff,100vw 78.1vh 0 -0.49rem#fff,90.8vw 37.8vh 0 -0.22rem#fff,19.6vw 9.6vh 0 -0.15rem#fff,61vw 53.6vh 0 -0.49rem#fff,38.1vw 41.4vh 0 -0.13rem#fff,40.8vw 95.8vh 0 -0.41rem#fff,53vw 91.3vh 0 -0.34rem#fff,84.7vw 33.7vh 0 -0.25rem#fff,44.1vw 66.7vh 0 -0.04rem#fff,49.4vw 78.4vh 0 -0.15rem#fff,32.8vw 26.4vh 0 -0.17rem#fff,43.7vw 14.8vh 0 -0.47rem#fff,15.4vw 18.7vh 0 -0.47rem#fff,54.1vw 24.3vh 0 -0.22rem#fff,39.6vw 51.9vh 0 -0.47rem#fff,8.9vw 50.7vh 0 -0.42rem#fff,46.4vw 85.4vh 0 -0.3rem#fff,44.8vw 94vh 0 -0.27rem#fff,33.9vw 95vh 0 -0.37rem#fff,73.2vw 72.8vh 0 -0.5rem#fff,98.3vw 32.9vh 0 -0.19rem#fff,40.2vw 85.2vh 0 -0.35rem#fff,5.5vw 13.9vh 0 -0.14rem#fff,65.4vw 76vh 0 -0.46rem#fff,88.2vw 61.9vh 0 -0.41rem#fff,41.4vw 79.5vh 0 -0.11rem#fff,8.7vw 16.2vh 0 -0.43rem#fff,98.5vw 11.6vh 0 -0.3rem#fff,9.2vw 99.8vh 0 -0.26rem#fff,65.4vw 19.2vh 0 -0.18rem#fff,64.2vw 42.9vh 0 -0.01rem#fff,42.6vw 80.3vh 0 -0.19rem#fff,95.4vw 88.9vh 0 -0.14rem#fff,28.9vw 9.2vh 0 -0.09rem#fff,80.2vw 45.6vh 0 -0.35rem#fff,21.1vw 66.2vh 0 -0.2rem#fff,85.8vw 65.9vh 0 -0.27rem#fff,79.9vw 12.4vh 0 -0.45rem#fff,50.3vw 71.1vh 0 -0.01rem#fff,94.8vw 83.6vh 0 -0.04rem#fff,1.5vw 47.8vh 0 -0.12rem#fff,78.3vw 29.4vh 0 -0.43rem#fff,88.7vw 24.1vh 0 -0.18rem#fff,23.9vw 53.8vh 0 -0.48rem#fff,94.2vw 93.6vh 0 -0.11rem#fff,98.8vw 6.5vh 0 -0.22rem#fff,52.1vw 10.3vh 0 -0.14rem#fff,42.9vw 79.7vh 0 -0.14rem#fff,70.1vw 68.3vh 0 -0.11rem#fff,25.8vw 68.2vh 0 -0.14rem#fff,2.5vw 84.9vh 0 -0.09rem#fff,41.7vw 39.2vh 0 -0.3rem#fff,56.8vw 87.1vh 0 -0.26rem#fff,85.8vw 98vh 0 -0.14rem#fff,99.5vw 62.7vh 0 -0.44rem#fff,29.1vw 7.3vh 0 -0.16rem#fff,13.9vw 23.9vh 0 -0.11rem#fff,1.5vw 47.9vh 0 -0.08rem#fff,84.4vw 46vh 0 -0.11rem#fff,61.3vw 16.5vh 0 -0.18rem#fff,73.9vw 76.9vh 0 -0.33rem#fff,1.9vw 8.1vh 0 -0.39rem#fff,55.6vw 38vh 0 -0.12rem#fff,29.2vw 18.6vh 0 -0.12rem#fff,46.7vw 30.3vh 0 -0.27rem#fff,18.8vw 78.6vh 0 -0.36rem#fff,31.5vw 43.1vh 0 -0.2rem#fff,21.1vw 83.5vh 0 -0.44rem#fff,53.5vw 66.2vh 0 -0.42rem#fff,48.1vw 73.9vh 0 -0.02rem#fff,55.7vw 98.6vh 0 -0.26rem#fff,72.7vw 83.2vh 0 -0.01rem#fff,55.2vw 81.9vh 0 -0.34rem#fff,25.4vw 26.3vh 0 -0.34rem#fff,67.4vw 26.2vh 0 -0.11rem#fff,19.4vw 6vh 0 -0.06rem#fff,65.8vw 98.9vh 0 -0.3rem#fff,45.4vw 49.8vh 0 -0.35rem#fff,90vw 27.4vh 0 -0.03rem#fff,51.7vw 61.7vh 0 -0.35rem#fff,82.6vw 40.8vh 0 -0.04rem#fff,56.8vw 13.3vh 0 -0.21rem#fff,26.3vw 97.5vh 0 -0.03rem#fff,87.1vw 15.2vh 0 -0.31rem#fff,24.4vw 81.3vh 0 -0.42rem#fff,29vw 89.8vh 0 -0.13rem#fff,93.5vw 91.4vh 0 -0.19rem#fff,46.9vw 38.3vh 0 -0.23rem#fff,46.3vw 47vh 0 -0.42rem#fff,18.1vw 99.9vh 0 -0.18rem#fff,100vw 79.5vh 0 -0.41rem#fff,92.9vw 36.9vh 0 -0.35rem#fff,63.4vw 45vh 0 -0.04rem#fff,5.6vw 57.5vh 0 -0.05rem#fff,61.2vw 20.6vh 0 -0.19rem#fff,40.2vw 93.6vh 0 -0.14rem#fff,94.4vw 70.7vh 0 -0.37rem#fff,29.2vw 22vh 0 -0.26rem#fff,46.6vw 39.1vh 0 -0.28rem#fff,85.5vw 95.3vh 0 -0.22rem#fff;
  animation-duration: 18s;
}
.layer2.a {
  animation-delay: 2s;
}
.layer2.b {
  animation-delay: 5s;
}
.layer2.c {
  animation-delay: 6s;
}
.layer3 {
  width: 0.8rem;
  height: 0.8rem;
  filter: blur(6px);
  box-shadow: 95.1vw 1vh 0 -0.19rem#fff,34.9vw 33.4vh 0 -0.04rem#fff,65.4vw 41.3vh 0 -0.36rem#fff,33.4vw 76.6vh 0 -0.36rem#fff,48vw 35.6vh 0 -0.18rem#fff,95.3vw 96.7vh 0 -0.04rem#fff,32.4vw 35.2vh 0 -0.44rem#fff,42.8vw 67.1vh 0 -0.43rem#fff,97.2vw 74.1vh 0 -0.44rem#fff,25.4vw 77.2vh 0 -0.28rem#fff,46.8vw 91.3vh 0 -0.01rem#fff,47.6vw 68.3vh 0 -0.23rem#fff,91.9vw 73vh 0 -0.38rem#fff,76.9vw 25.9vh 0 -0.32rem#fff,20.6vw 86.5vh 0 -0.15rem#fff,23.1vw 91vh 0 -0.05rem#fff,9vw 71.7vh 0 -0.38rem#fff,27.1vw 12.3vh 0 -0.14rem#fff,0.2vw 90.1vh 0 -0.42rem#fff,65.9vw 40.1vh 0 -0.08rem#fff,30.9vw 7.6vh 0 -0.38rem#fff,96.7vw 15.4vh 0 -0.08rem#fff,97.2vw 60.9vh 0 -0.25rem#fff,38.5vw 13.3vh 0 -0.17rem#fff,57.8vw 38.7vh 0 -0.28rem#fff,62.9vw 93.3vh 0 -0.15rem#fff,59.7vw 59.6vh 0 -0.14rem#fff,56.5vw 16.9vh 0 -0.45rem#fff,36.2vw 93.5vh 0 -0.46rem#fff,84vw 22.4vh 0 -0.41rem#fff,90.6vw 74.8vh 0 -0.17rem#fff,54.2vw 77.1vh 0 -0.41rem#fff,1.9vw 43.3vh 0 -0.33rem#fff,39.6vw 49.2vh 0 -0.02rem#fff,83.4vw 83vh 0 -0.41rem#fff,73.1vw 94.3vh 0 -0.15rem#fff,24.4vw 95.8vh 0 -0.49rem#fff,88vw 63.6vh 0 -0.36rem#fff,89.7vw 90.8vh 0 -0.34rem#fff,17.3vw 22.8vh 0 -0.2rem#fff,22vw 77.5vh 0 -0.48rem#fff,86.4vw 86.4vh 0 -0.17rem#fff,61.6vw 45.1vh 0 -0.43rem#fff,85.6vw 68.3vh 0 -0.32rem#fff,68.3vw 48.4vh 0 -0.04rem#fff,80.5vw 25.2vh 0 -0.35rem#fff,22.3vw 79.5vh 0 -0.42rem#fff,28vw 66.2vh 0 -0.43rem#fff,61.8vw 68.7vh 0 -0.34rem#fff,74.4vw 91.4vh 0 -0.17rem#fff,86.6vw 31.1vh 0 -0.07rem#fff,71.9vw 7.8vh 0 -0.5rem#fff,35.7vw 62.2vh 0 -0.49rem#fff,4.6vw 20.8vh 0 -0.19rem#fff,14.9vw 73.7vh 0 -0.29rem#fff,86vw 1.4vh 0 -0.21rem#fff,82.6vw 59.3vh 0 -0.25rem#fff,43vw 62.6vh 0 -0.27rem#fff,41.7vw 81.2vh 0 -0.21rem#fff,71.5vw 99.6vh 0 -0.14rem#fff,39vw 18.1vh 0 -0.1rem#fff,92.9vw 39.4vh 0 -0.22rem#fff,49.7vw 48.2vh 0 -0.22rem#fff,60.5vw 88.1vh 0 -0.15rem#fff,58.4vw 28.4vh 0 -0.18rem#fff,93.6vw 87.7vh 0 -0.03rem#fff,71vw 59.3vh 0 -0.4rem#fff,18.7vw 62.6vh 0 -0.15rem#fff,88.8vw 74.9vh 0 -0.19rem#fff,17.8vw 12vh 0 -0.13rem#fff,17.6vw 14.2vh 0 -0.08rem#fff,55.7vw 56.5vh 0 -0.34rem#fff,70.3vw 84vh 0 -0.16rem#fff,20.9vw 13.6vh 0 -0.03rem#fff,82.3vw 13.9vh 0 -0.48rem#fff,16.7vw 35.3vh 0 -0.24rem#fff,64.6vw 27.6vh 0 -0.49rem#fff,51.2vw 45.8vh 0 -0.01rem#fff,9.2vw 56.4vh 0 -0.15rem#fff,78.7vw 63.6vh 0 -0.36rem#fff,5.4vw 81.1vh 0 -0.14rem#fff,14.5vw 62.8vh 0 -0.03rem#fff,26.2vw 84.9vh 0 -0.43rem#fff,51.3vw 61vh 0 -0.17rem#fff,91.8vw 21.5vh 0 -0.48rem#fff,85.6vw 78.4vh 0 -0.17rem#fff,98.4vw 80.8vh 0 -0.41rem#fff,99.6vw 39.6vh 0 -0.25rem#fff,88.4vw 12.1vh 0 -0.45rem#fff,95.8vw 26.3vh 0 -0.42rem#fff,60.5vw 58.8vh 0 -0.41rem#fff,95.3vw 16.2vh 0 -0.22rem#fff,74.6vw 53vh 0 -0.44rem#fff,80.1vw 6.4vh 0 -0.06rem#fff,79.1vw 1.6vh 0 -0.06rem#fff,59.3vw 92.8vh 0 -0.13rem#fff,94vw 86.4vh 0 -0.19rem#fff,78vw 22.4vh 0 -0.48rem#fff,46.7vw 71.2vh 0 -0.24rem#fff,88.2vw 6.3vh 0 -0.05rem#fff,8.3vw 7.2vh 0 -0.11rem#fff,95.8vw 33.1vh 0 -0.36rem#fff,10.8vw 86.2vh 0 -0.28rem#fff,9.5vw 96.7vh 0 -0.43rem#fff,48.9vw 17.9vh 0 -0.09rem#fff,97.7vw 8.6vh 0 -0.4rem#fff,21.5vw 12.2vh 0 -0.46rem#fff,1.8vw 88vh 0 -0.19rem#fff,15.4vw 11.4vh 0 -0.13rem#fff,94.6vw 84.4vh 0 -0.23rem#fff,77.8vw 78.2vh 0 -0.49rem#fff,34.6vw 34.7vh 0 -0.13rem#fff,78.1vw 68.1vh 0 -0.23rem#fff,98vw 69.1vh 0 -0.42rem#fff,50.9vw 74.4vh 0 -0.08rem#fff,92.9vw 2.8vh 0 -0.12rem#fff,87.5vw 59.3vh 0 -0.2rem#fff,7vw 9.5vh 0 -0.3rem#fff,24.2vw 91vh 0 -0.39rem#fff,58.8vw 2.5vh 0 -0.24rem#fff,58.8vw 59.4vh 0 -0.18rem#fff,81.6vw 55.3vh 0 -0.46rem#fff,26.3vw 59.1vh 0 -0.2rem#fff,95.2vw 30.1vh 0 -0.17rem#fff,17.7vw 54.8vh 0 -0.11rem#fff,25.6vw 51.8vh 0 -0.05rem#fff,80.8vw 50vh 0 -0.37rem#fff,28.1vw 76.1vh 0 -0.42rem#fff,73.3vw 6.4vh 0 -0.08rem#fff,52.8vw 39vh 0 -0.03rem#fff,57.5vw 70.8vh 0 -0.34rem#fff,71vw 82.8vh 0 -0.34rem#fff,31.6vw 93.6vh 0 -0.5rem#fff,21.3vw 30.9vh 0 -0.23rem#fff,27.1vw 92.8vh 0 -0.38rem#fff,21vw 57.2vh 0 -0.47rem#fff,43.7vw 70vh 0 -0.27rem#fff,60.7vw 42.9vh 0 -0.08rem#fff,24.8vw 1.2vh 0 -0.12rem#fff,7.9vw 51.1vh 0 -0.37rem#fff,30.6vw 82.5vh 0 -0.26rem#fff,13.8vw 47.6vh 0 -0.25rem#fff,8.9vw 54.3vh 0 -0.31rem#fff,95vw 0.5vh 0 -0.05rem#fff,94.7vw 10vh 0 -0.1rem#fff,39.3vw 5.1vh 0 -0.07rem#fff,76.3vw 66.6vh 0 -0.08rem#fff,60.9vw 72.5vh 0 -0.33rem#fff,41.4vw 3.7vh 0 -0.4rem#fff,14.6vw 5.7vh 0 -0.13rem#fff,95.4vw 61.1vh 0 -0.02rem#fff,18.2vw 95vh 0 -0.47rem#fff,2.4vw 0.7vh 0 -0.01rem#fff,37.5vw 65.5vh 0 -0.2rem#fff,79.3vw 53.7vh 0 -0.04rem#fff,62.6vw 57.1vh 0 -0.45rem#fff,71.5vw 61vh 0 -0.39rem#fff,89.3vw 82.4vh 0 -0.23rem#fff,75.1vw 2.8vh 0 -0.11rem#fff,49.3vw 19.4vh 0 -0.44rem#fff,73vw 18vh 0 -0.38rem#fff,88.1vw 36.2vh 0 -0.25rem#fff,96.5vw 32.5vh 0 -0.2rem#fff,63vw 16.8vh 0 -0.22rem#fff,69.2vw 89.9vh 0 -0.37rem#fff,47.2vw 86.8vh 0 -0.25rem#fff,22.3vw 33.1vh 0 -0.14rem#fff,14.4vw 50.5vh 0 -0.16rem#fff,96.6vw 99.8vh 0 -0.38rem#fff,98vw 10.8vh 0 -0.15rem#fff,68.5vw 88.2vh 0 -0.42rem#fff,89.7vw 40.4vh 0 -0.14rem#fff,14.3vw 8.3vh 0 -0.05rem#fff,57.6vw 45.3vh 0 -0.28rem#fff,79.3vw 40.4vh 0 -0.28rem#fff,33vw 62.4vh 0 -0.25rem#fff,47.4vw 2.6vh 0 -0.06rem#fff,97.1vw 18.4vh 0 -0.45rem#fff,29.3vw 81.5vh 0 -0.47rem#fff,55.3vw 71.2vh 0 -0.39rem#fff,79.3vw 35.6vh 0 -0.48rem#fff,81.7vw 37.7vh 0 -0.44rem#fff,47.8vw 94vh 0 -0.44rem#fff,77.8vw 95.2vh 0 -0.42rem#fff,97.1vw 72.5vh 0 -0.18rem#fff,35.2vw 79.3vh 0 -0.12rem#fff,59.9vw 66vh 0 -0.46rem#fff,6.5vw 0.7vh 0 -0.43rem#fff,5.7vw 96.2vh 0 -0.02rem#fff,14.3vw 62.2vh 0 -0.36rem#fff,26.3vw 91.3vh 0 -0.2rem#fff,44.3vw 83.5vh 0 -0.09rem#fff,44.3vw 47.1vh 0 -0.14rem#fff,45.7vw 20.2vh 0 -0.15rem#fff,34.2vw 96vh 0 -0.07rem#fff,3.9vw 11.9vh 0 -0.05rem#fff,16.1vw 74.2vh 0 -0.21rem#fff,42.1vw 86.7vh 0 -0.41rem#fff,73.3vw 29.3vh 0 -0.04rem#fff,30.2vw 25.5vh 0 -0.33rem#fff;
  animation-duration: 20s;
}
.layer3.a {
  animation-delay: -5s;
}
@keyframes fall {
  100% {
    transform: translateY(680vh);
 }
}